<!DOCTYPE html>
<html lang="{{ site.languageCode }}">	
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ generatorMeta() }}

    <title> {{page.title}} | midnight creatures </title>
    <link rel="stylesheet" href="/style.css">	
  </head>


	<body>
    <div class="container">
      <header class="top-bar">
        <div class="workspaces">
    <a href="/"><span class="active">1:blog</span></a>
    <a href="/atelier_codes"><span>2:atelier_codes</span></a>
    <a href="/dead_pixels"><span>3:dead_pixels</span></a>
    <a href="/midnight_terminal"><span>4:midnight_terminal</span></a>
        </div>
      <div class="right-info">
        {{ os.getenv("USER") }}@{{ os.getenv("HOSTNAME") }}:~$ &nbsp;|&nbsp; {{ page.title or "midnight" }} &nbsp;|&nbsp; <a href="/about">about</a>
      </div>
</header>
<div class="middleOuter"><div class="middleInner">
